body{
  background-color: red;
  font-family: 'Lilita One', cursive;

}


h1{
  text-align: center;
}

#numbers{
  text-align: center;
}
button{
  margin-left: 50%;
}
#ranNum{
  margin-left: 50%;
}
p{
  text-align: center;
  font-size: 70px;
}